<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/detalle.css">
    <script src="https://kit.fontawesome.com/da86db1aac.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <title>Detalle alquiler</title>
</head>
<body>

    <main class="casas">
        <section class="busqueda">
            <h4 class="localidad">Pinamar</h4>
            <h4 class="desde-hasta">1 de marzo de 2021 al 10 de marzo del 2021</h4>
            <h4 class="personas">2 adultos 2 menores</h4>
        </section>
        <section class="lista-casas">
            <article class="casa">
                <img src="/images/CasaModerna.jpg" alt="" class="img-casa">
                <i class="fas fa-truck"></i>
                <div class="descripcion">
                    <p class="precio">10.000</p>
                    <p class="direccion">Al lado</p>
                    <h4 class="titulo">Linda casa</h4>
                </div>
            </article>
            <article class="casa">
                <img src="/images/CasaSencilla2.jpg" alt="" class="img-casa">
                <i class="fas fa-truck"></i>
                <div class="descripcion">
                    <p class="precio">10.000</p>
                    <p class="direccion">200mts de la playa</p>
                    <h4 class="titulo">Condominio</h4>
                </div>
            </article>
            <article class="casa">
                <img src="/images/CasaSencilla3.jpg" alt="" class="img-casa">
                <i class="fas fa-truck"></i>
                <div class="descripcion">
                    <p class="precio">10.000</p>
                    <p class="direccion">Av San Martín 2200</p>
                    <h4 class="titulo">Al amancer</h4>
                </div>
            </article>
            <article class="casa">
                <img src="/images/CasaModerna2.jpg" alt="" class="img-casa">
                <i class="fas fa-truck"></i>
                <div class="descripcion">
                    <p class="precio">10.000</p>
                    <p class="direccion">Bunge e/Perón y Belgrano</p>
                    <h4 class="titulo">Descanso ideal</h4>
                </div>
            </article>
            <article class="casa">
                <img src="/images/CasaModerna3.jpg" alt="" class="img-casa">
                <i class="fas fa-truck"></i>
                <div class="descripcion">
                    <p class="precio">10.000</p>
                    <p class="direccion">Barrio cerrado las golondrinas</p>
                    <h4 class="titulo">Tranquilidad máxima</h4>
                </div>
            </article>
            <article class="casa">
                <img src="/images/CasaSencilla1.jpg" alt="" class="img-casa">
                <i class="fas fa-truck"></i>
                <div class="descripcion">
                    <p class="precio">10.000</p>
                    <p class="direccion">Centro</p>
                    <h4 class="titulo">El ramanso</h4>
                </div>
            </article>
        </section>
    </main>
    
</body>
</html>