<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/da86db1aac.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <title>Alquier de casas</title>
</head>
<body>
    <header class="main-header">
        <div class="top-bar">
            <h2>
                <a href="#" class="hamburger-button"><i class="fas fa-bars"></i></a>
            </h2>
            <img src="/images/logo-casas-alquiler.jpg" alt="" class="logo">
        </div>
        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Escapadas cercanas</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>