<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/prod-detall.css">
    <script src="https://kit.fontawesome.com/da86db1aac.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <title>Detalle propiedad</title>
</head>
<body>
    <main class="detalle">
        <div class="container">
            <ul class="slider">
                <li id="slide1"><img src="/images/CasaModerna.jpg" alt="" class="img-casa"></li>
                <li id="slide2"><img src="/images/CasaModerna3.jpg" alt="" class="img-casa"></li>
                <li id="slide3"><img src="/images/CasaModerna2.jpg" alt="" class="img-casa"></li>
                <li id="slide4"><img src="/images/CasaSencilla1.jpg" alt="" class="img-casa"></li>
                <li id="slide5"><img src="/images/CasaSencilla2.jpg" alt="" class="img-casa"></li>
            </ul>

            <nav>
                <ul class="menu">
                    <li><a href="#slide1">1</a></ li>
                    <li><a href="#slide2">2</a></ li>
                    <li><a href="#slide3">3</a></ li>
                    <li><a href="#slide4">4</a></ li>
                    <li><a href="#slide5">5</a></ li>
                </ul>
            </nav>
        </div>

        <section class="datos">
            <article class="resumen">
                <h4>Alquiler en Mar del Plata</h4>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <p class="comentario">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Velit quaerat, veniam non sequi commodi maxime debitis rem cupiditate fugiat iste quidem quo sapiente? Id assumenda vel labore nulla perspiciatis animi.</p>
                <div class="services">
                    <i class="fas fa-swimmer"></i>
                    <i class="fas fa-wifi"></i>
                    <i class="fas fa-utensils"></i>
                    <i class="fas fa-car"></i>
                </div>
            </article>
            <article class="condiciones">
                <p class="precio">$3.000 por noche</p>
                <p class="precio-tot">$18.000 total</p>
                <p class="fecha">1 al 10 de Marzo</p>
                <p class="personas">2 adultos 2 menores</p>
                <a href="#" type="button">Contactar</a>
            </article>
        </section>
        <section class="ubicacion">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3273.8493991440587!2d-58.10219208504353!3d-34.860011278610344!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a2d93cdc752b11%3A0xd9db3831014894a9!2sCalle%20411%201873%2C%20Villa%20Elisa%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1616695837029!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </section>
        <section class="conditions">
            <h4>Condiciones</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi deleniti ut neque provident ullam, voluptates consectetur, consequuntur assumenda amet temporibus maxime, deserunt doloribus sit ducimus vitae necessitatibus soluta illum nobis!</p>
        </section>
    </main>
    
</body>
</html>